html {
    height: 100%;
}

body {
    background-image: url("images/bluedot.jpg");
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    /* position: relative; */
    top: 0;
    min-height: 100%;
    font-family: 'Gugi', cursive
}

#header {
    background: linear-gradient(to right, goldenrod 0%, #082667 100%);
    /* background: -webkit-linear-gradient(to right, #AA3A38, #2F7336); */
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#empty-div {
    height: 45vh;
}

#menu-border-top {
    background: linear-gradient(to right, goldenrod 0%, teal, #082667 100%);
    height: 3px;
    width: 45vw;
    min-width: 534px;
    display: inline-block;
}

#menu-wrapper {
    display: inline-block;
}

.menu {
    color: goldenrod
}

.menu-divider {
    display: inline;
}

.mobile-menu-divider {
    display: none;
}

#menu-border-bot {
    background: linear-gradient(to right, goldenrod 0%, teal, #082667 100%);
    height: 3px;
}

.navlink:link, .navlink:visited {
    color: goldenrod;
}

.navlink:hover {
    color: turquoise;
}

.navlink:active {
    color: teal;
}

#empty-div3 {
    height: 10vh;
}

.modal {
    font-family: 'Century Gothic', sans-serif;
    margin: auto;
}

.modal-lg {
    max-width: 900px;
}

#about-dialog {
    max-width: 600px;
}

.modal-content {
    opacity: .9;
    border: 3px solid gold;
    color: black;
}

/* about */

#selfie {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

#about-text {
    font-size: 15px;
    text-align: justify;
}

/* portfolio */

/* #project-subtitle {
    font-family: 'Source Sans Pro';
} */

.project-title {
    clear: both;
}

.polaroid {
    /* background: rgba(255, 255, 255, 0.7); */
    box-shadow: 0 4px 8px 0 navy, 0 6px 20px 0 orange;
}

.project-img {
    float: left;
}

.project-link, #resume-link {
    color: rgb(0, 162, 255);
}

.project-link:active, #resume-link:active {
    color: rgb(107, 233, 241);
}

.project-text {
    width: 55%;
    float: right;
    /* font-family: 'Helvetica'; */
}

@media screen and (max-width: 992px) {
    #solar-system-text {
        width: 100%;
        text-align: justify;
    }
}

#solar-system, #hfla_311, #telescope, #nyt, #coffee {
    width: 40%;
}

#robot {
    width: 30%;
}

#berkeley-logo {
    width: 25%;
}

#defunct {
    color: orange;
}

@media screen and (max-width: 992px) {
    #solar-system {
        width: 100%;
    }
}

/* cv modal */

/* #cvmodalbody {
    font-family: 'Source Sans Pro';
} */

.cvheader {
    text-align: center;
}

ul {
    columns: 2;
}

#personal {
    columns: 1;
}

.cvitem {
    font-size: 14px;
}

/* mobile responsiveness */

@media screen and (max-width: 555px) {
    #empty-div {
        height: 15vh;
    }
}

@media screen and (max-width: 555px) {
    #empty-div2 {
        height: 10vh;
    }
}

@media screen and (max-width: 555px) {
    #menu-border-top {
        width: 80vw;
        min-width: 80vw;
    }
}

@media screen and (max-width: 555px) {
    .navlink {
        display: block;
    }
}

@media screen and (max-width: 555px) {
    .menu-divider {
        display: none;
    }
}

@media screen and (max-width: 555px) {
    .navlink:link, .navlink:visited {
        color: orange;
    }
}

@media screen and (max-width: 555px) {
    .navlink:hover {
        color: teal;
    }
}

@media screen and (max-width: 555px) {
    .navlink:active {
        color: #082667;
    }
}

@media screen and (max-width: 555px) {
    #link1, #link2, #link3 {
        margin-bottom: 12px;
    }
}


@media screen and (max-width: 555px) {
    #menu-border-bot{
        width: 80vw;
        min-width: 80vw;
        display: inline-block;
    }
}

@media screen and (max-width: 555px) {
    .mobile-menu-divider {
        display: inline;
    }
}

/* footer */

.logocol {
    /* box-shadow: 0 2px  turquoise, 0 2px  cyan; 
    background: linear-gradient(rgb(65, 65, 158), white); */
    opacity: .8;
    max-height: 4em;
    max-width: 5em;
}

.contact-logo {
    width: 100%;
    height: 100%;
}

footer {
    color: #ffffff;
    /* position: absolute; */
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center
}

#copyright-text {
    font-size: .5em;
}


